<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "King Me", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path if !current_user %></li>
	  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete if current_user %></li> 
        </ul>
      </nav>
    </div>
  </div>
</header>